.neoBody{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 50px;
}
header{
    font-family: monospace;
    font-size:60px;
    font-weight: 900;
}


.UI {
    font-size: 20px;
    font-family: fantasy;
    color: black;
}

.TTT_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;

}

.Cover {
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
}

    .Cover_Off {
        grid-column: 1/2;
        grid-row: 1/2;
    }

.TTT {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    width: fit-content;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
}

.modal {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(0,0,0,.5); 
    z-index: 3;
}

.none{
    display: none;
}

.modal_content {
    position: relative;
    top:45%;
}


.modal_content_button {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left:39%;
}
.C {
    height: 100px;
    width: 100px;
    background-color: white;
}

.blink{
    animation:blinkingText 1.2s infinite;
    font-family: fantasy;
    font-size: 20px;
}
@keyframes blinkingText{
    0%{     color: saddlebrown;    }
    49%{    color: saddlebrown; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: saddlebrown;    }
}

.blink_black{
    animation:blinkingText_black 1.2s infinite;
    font-family: fantasy;
    font-size: 20px;
}
@keyframes blinkingText_black{
    0%{     color: black;    }
    49%{    color: black; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: black;    }
}

.mark {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 700;
    font-size: 50px;
}
